<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
</head>
<body>

	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Price</th>
				<th>Hours</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="curso : ${courses}">
				<th><span th:text = "${curso.name}"></span></th>
				<th><span th:text = "${curso.description}"></span></th>
				<th><span th:text = "${curso.price}"></span></th>
				<th><span th:text = "${curso.hours}"></span></th>
			</tr>
		</tbody>
	</table>
	
	<br/>
	<br/>
	
	<form action="#" th:action="@{/courses/addcourse}" th:object="${cursoNew}" method="post">
		<p>Name: <input type="text" th:field="*{name}" /></p>
		<p>Description: <input type="text" th:field="*{description}" /></p>
		<p>Price: <input type="text" th:field="*{price}" /></p>
		<p>Hours: <input type="text" th:field="*{hours}" /></p>
		<p><input type="submit" value="Submit" /></p>
	</form>

</body>
</html>